<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ block "head" . }}
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/css.html" . }}
        {{ end }}
        <!-- Include page specific css -->
        {{ block "customCSS" . }}
        {{ end }}

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    let isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    let mermaidTheme = (isDark) ? 'dark' : 'default';
    let mermaidConfig = {
        theme: mermaidTheme,
        logLevel: 'fatal',
        securityLevel: 'strict',
        startOnLoad: true,
        arrowMarkerAbsolute: false,

        er: {
            diagramPadding: 20,
            layoutDirection: 'TB',
            minEntityWidth: 100,
            minEntityHeight: 75,
            entityPadding: 15,
            stroke: 'gray',
            fill: 'honeydew',
            fontSize: 12,
            useMaxWidth: true,
        },
        flowchart: {
            diagramPadding: 8,
            htmlLabels: true,
            curve: 'basis',
        },
        sequence: {
            diagramMarginX: 50,
            diagramMarginY: 10,
            actorMargin: 50,
            width: 150,
            height: 65,
            boxMargin: 10,
            boxTextMargin: 5,
            noteMargin: 10,
            messageMargin: 35,
            messageAlign: 'center',
            mirrorActors: true,
            bottomMarginAdj: 1,
            useMaxWidth: true,
            rightAngles: false,
            showSequenceNumbers: false,
        },
        gantt: {
            titleTopMargin: 25,
            barHeight: 20,
            barGap: 4,
            topPadding: 50,
            leftPadding: 75,
            gridLineStartPadding: 35,
            fontSize: 11,
            fontFamily: '"Open-Sans", "sans-serif"',
            numberSectionStyles: 4,
            axisFormat: '%Y-%m-%d',
            topAxis: false,
        },
    };
    mermaid.initialize(mermaidConfig);
</script>

    </head> 
    <body>
        <section id="top" class="section">
            <!-- Begin Title -->
            <div class="container hero {{ if .Site.Params.fadeIn | default true }} fade-in one {{ end }}">
                {{ block "title" . }}
                <h1 class="bold-title is-1">{{ .Title | markdownify }}</h1>
                {{ end }}
            </div>
            <!-- End Title -->
            <div class="section {{ if .Site.Params.fadeIn | default true }} fade-in two {{ end }}">
                {{ partial "nav.html" . }}

                {{ block "main" . }}
                {{ end }}

                {{ block "footer" . }}
                {{ partial "top-icon-with-hr.html" . }}
                {{ partial "footer/text.html" . }}
                {{ end }}
            </div>
        </section>
        {{ block "js-include" . }}
        {{ partial "footer/scripts.html" . }}
        {{ end }}
        <!-- Include page specific scripts -->
        {{ block "customScripts" . }}
        {{ end }}
    </body>
</html>
